@import "main";

.sidebar {
  height: 100%;
  width: 20%;
  background-color: $blue;
  float: left;
  box-sizing: border-box;
  padding: 1%;

  &__header {
    margin: 0 auto;

    &__link {
      color: $white;
      text-decoration: none;
    }
  }

  &__nav {
    width: 90%;
    margin: 10% auto;

    &__list {
      width: 100%;

      &__element {
        width: 85%;
        list-style: none;
        background-color: $white;
        @include borderRadius();
        padding: 2% 5%;
        margin: 5% 0;
        transition: background-color .2s ease-in;

        &:hover {
          background-color: $lightblue;
          cursor: pointer;
        }

        &__link {
          display: block;
          width: 100%;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  // center self
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  // center content
  align-items: center; 
  justify-content: center;
  text-align: center;
  z-index: 5;
  transition: .5s;
  
  &__close-button {
    float: right;
    margin-top: -5%;
    margin-right: -5%;
    padding: 1% 2%;
  }
  
  &__update-button {
    float: left;
    margin-top: 3%;
  }
  
  &__add-button {
    float: right;
    margin-top: 3%;
  }
  
  &__background {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 6;
  }
  
  &__content {
    z-index: 7;
    background-color: $white;
    padding: 2%;
    @include borderRadius();

    &__table {
      width: 100%;
      text-align: left;
      
      &__head {
        &__row {
          display: flex;
          justify-content: space-between;
        }
      }
      
      &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120%;
        margin-top: .3%;
        &__element {
          width: 23%;
          &:nth-child(1) {
            input {
              width: 90%;
            }
          }
          &:nth-child(2) {
            input {
              width: 30%;
            }
          }
        }
      }
    }
  }
}

.content {
  float: left;
  margin: .5% 1%;
  width: 78%;
  
  &__form {
    width: 40%;
    height: 20%;
    
    &__row {
      display: flex;
      align-items: center;
      justify-content: left;
      margin: 1% 0;
      width: 100%;
      
      &__label {
        margin: 0 2% 0 0;
      }
      
      &__input {
        margin: 0 1%;
      }
    }
    
    &__button {
      padding: 1.5% 2.5%;
    }
  }
  
  &__title {
    float: left;
    margin: 2% 1% 1% 0;
  }
  
  &__type-button {
    float: right;
    margin: 2% 2% 1%;
    padding: .8% 1.5%;
  }
  
  &__update-button {
    margin: 1% 0;
    padding: .8% 1.5%;
  }

  &__table {
    width: 100%;
    &__body {
      &__element {
        width: 15%;
        &:nth-child(2) {
          min-width: 20%;
        }
        &:nth-child(3) {
          input {
            width: 23%;
          }
        }
      }
    }
  }
}

.confirmation {
  min-width: 40%;
  background-color: $confirmed;
  padding: 1%;
  border: solid darken($confirmed, 20%) 1px;
  display: none;
}

.warning {
  min-width: 40%;
  background-color: $warning;
  padding: 1%;
  border: solid darken($warning, 20%) 1px;
  display: none;
}