.hide {
  transition: 0.2s ease-out;
  overflow: hidden;
  display: none;
}

.button {
  &.sort-button {
    width: 10%;
    float: right;
    padding: 1% 2%;
    margin: 1% 0;
  }
}

.content {
  &__title {
    width: 80%;
  }
  
  &__add-obj-button {
    padding: 1% 2%;
    margin: 1% 0;
    float: right;
  }
  
  &__table {
    width: 100%;

    &__head { 
      width: 100%;
      
      &__row {
        width: 100%;
        
        &__element {
          width: 10%;

          &:first-child {
            width: 2%;
          }
          
          &--button {
            width: 20%;
          }
        }
      }
    }
    
    &__body {
      width: 100%;

      &__row {
        width: 100%;

        &__element {
          width: 10%;
          white-space: nowrap;

          &:first-child {
            width: 2%;
          }
          
          .button {
            width: 50%;
            padding: 5%;
          }
        }
      }
      
      &--hidden {
        &__customer-table {
          border-spacing: 1rem .3rem;
        }
      }
    }
  }
  
  &__form {
    &__row {}
  }
}

[data-toggle="toggle"] {
  display: none;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.form, .result {
  float: left;
}

.form {
  width: 60%;
}

.result {
  width: 30%;
}

.checkContainer {
  width: 100%;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
}