@page
@model Object_management.Pages.Objects.Add

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<partial name="_HeadPartial"/>
<body>
<partial name="_MenuPartial"/>
<div>
    
</div>
</body>
</html>