@page
@model Object_management.Pages.Customers.Add

@{
    Layout = null;
    ViewBag.Title = "Klant toevoegen";
}

<!DOCTYPE html>

<html>
<partial name="_HeadPartial"/>
<body>
<partial name="_MenuPartial"/>
<div class="content">
    @if (Model.ReturnPage != null) {
        <a href="/@Model.ReturnPage" class="breadcrumb"><i class="fa fa-solid fa-arrow-left-long"></i> Terug</a>
    } else {
        <a href="/customers" class="breadcrumb"><i class="fa fa-solid fa-arrow-left-long"></i> Terug naar klant overzicht</a>
    }
    @if (Model.Warning != string.Empty) {
        <h1 class="warning">@Model.Warning</h1>
    }
    <h1>Klant toevoegen</h1>
    <form class="content__form" method="post" action="">
        <div class="content__form__row">
            <label class="content__form__row__label" for="CustomerName">Naam</label>
            <input asp-for="CustomerName">
        </div>
        <div class="content__form__row">
            <label class="content__form__row__label" for="Telephone">Telefoon</label>
            <input asp-for="TelePhone">
        </div>
        <div class="content__form__row">
            <label class="content__form__row__label" for="CustomerName">E-mail</label>
            <input asp-for="Email">
        </div>
        <div class="content__form__row">
            <label class="content__form__row__label" for="CustomerName">Adres</label>
            <input asp-for="Adres">
        </div>
        <button type="submit" class="content__form__button button">Toevoegen</button>
    </form>
</div>
</body>
</html>