@page
@model Object_management.Pages.Reservations.Old

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<partial name="_HeadPartial"/>
<link rel="stylesheet" href="/css/reservations.css">
<body>
<partial name="_MenuPartial"/>
<div>
    
</div>
</body>
</html>