*:not(i) {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll; }

table {
  border-spacing: 0; }

.button {
  display: block;
  border-radius: 15px;
  padding: 2% 3%;
  background-color: #379DE1;
  color: #f8f8f8;
  transition: background-color .2s ease-in;
  font-size: 12pt;
  text-decoration: none; }
  .button:hover {
    background-color: #bcdef5;
    cursor: pointer; }
  .button--delete {
    background-color: #e22727;
    padding: 5%; }
    .button--delete:hover {
      background-color: #EE8181; }
  .button--load-more {
    background: transparent;
    color: #000000;
    padding: 1% 1.5%;
    margin: 0 auto;
    transition: .3s all; }
    .button--load-more i {
      transition: inherit; }
    .button--load-more:hover {
      background: transparent;
      color: #999999; }
      .button--load-more:hover i {
        color: #999999;
        padding: 5% 0; }
  .button--date {
    padding: .5% 1.5%; }

.week-picker {
  height: 7vh;
  width: 100%; }
  .week-picker * {
    float: left;
    margin: 1% 1% 0 0; }
    .week-picker *:nth-child(4) {
      margin-left: -4%; }

.sort-button {
  text-decoration: none;
  color: #000000; }
  .sort-button.button {
    color: #f8f8f8;
    text-align: center;
    width: 60%;
    margin: 0 auto; }

.breadcrumb {
  text-decoration: none;
  color: #000000;
  transition: color .2s; }
  .breadcrumb:hover {
    color: #bcdef5; }

td input[type="number"], td input[type="text"] {
  border-bottom: none;
  border-top: none; }

input[type="text"], input[type="number"], textarea {
  border: solid #e6e6e6 2pt;
  border-radius: 5px;
  padding: 2% 2%;
  resize: none; }
  input[type="text"]:hover, input[type="number"]:hover, textarea:hover {
    cursor: text; }
  input[type="text"]:disabled, input[type="number"]:disabled, textarea:disabled {
    background-color: transparent;
    border: none; }
    input[type="text"]:disabled:hover, input[type="number"]:disabled:hover, textarea:disabled:hover {
      cursor: default; }

input[type="number"]:not(.input-text) {
  width: 10%; }

input[type="checkbox"][disabled]:checked {
  outline: #379DE1;
  color: #379DE1; }

.h1 {
  font-size: 2em;
  font-weight: bold; }

.h2 {
  font-size: 1.5em;
  font-weight: bold; }

.h3 {
  font-size: 1.17em;
  font-weight: bold; }

.float {
  float: left;
  margin: 0 2%;
  padding: 0 1%; }

th {
  text-align: left; }

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes scale-display--reversed {
  0% {
    display: block;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }
  99% {
    display: block;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0); } }
.hide {
  transition: 0.2s ease-out;
  overflow: hidden;
  display: none; }

.currency {
  display: flex;
  flex-direction: row; }

.button.sort-button {
  width: 10%;
  float: right;
  padding: 1% 2%;
  margin: 1% 0; }

.content__title {
  width: 80%; }
.content__add-obj-button {
  padding: 1% 2%;
  margin: 1% 0;
  float: right; }
.content__table {
  width: 100%; }
  .content__table__head {
    width: 100%; }
    .content__table__head__row {
      width: 100%; }
      .content__table__head__row__element {
        width: 10%; }
        .content__table__head__row__element:first-child {
          width: 2%; }
        .content__table__head__row__element--button {
          width: 20%; }
  .content__table__body {
    width: 100%; }
    .content__table__body__row {
      width: 100%; }
      .content__table__body__row__element {
        width: 10%;
        white-space: nowrap; }
        .content__table__body__row__element:first-child {
          width: 2%; }
        .content__table__body__row__element .button {
          width: 50%;
          padding: 5%; }
    .content__table__body--hidden__customer-table {
      border-spacing: 1rem .3rem; }
.content__form__row input[type="date"] {
  width: 65%; }

[data-toggle="toggle"] {
  display: none; }

.pointer:hover {
  cursor: pointer; }

.form, .result {
  float: left; }

.form {
  width: 60%; }

.result {
  width: 30%; }

.checkContainer {
  width: 100%;
  margin: 1% 0;
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=reservations.css.map */
