@using Microsoft.AspNetCore.Mvc.RazorPages
@* @model Object_management.Pages._HeadPartial *@
<head>
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <script src="/js/onload.js"></script>
    <script src="/js/html-formats.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/buttons.js"></script>
</head>