@* @model Object_management.Pages._MenuPartial *@
<div class="header"></div>
<div class="sidebar">
    <h1 class="sidebar__header">
        <a href="/index" class="sidebar__header__link">Fietsverhuur Terhernstersyl</a>
    </h1>
    <div class="sidebar__nav">
        <ul class="sidebar__nav__list">
            <li class="sidebar__nav__list__element"><a href="/index" class="sidebar__nav__list__element__link">Home</a></li>
            <li class="sidebar__nav__list__element"><a href="/reservations" class="sidebar__nav__list__element__link">Reserveringen</a></li>
            <li class="sidebar__nav__list__element"><a href="/objects" class="sidebar__nav__list__element__link">Fietsen</a></li>
            <li class="sidebar__nav__list__element"><a href="/objects/sales" class="sidebar__nav__list__element__link">Aanbiedingen</a></li>
            <li class="sidebar__nav__list__element"><a href="/customers" class="sidebar__nav__list__element__link">Klanten</a></li>
            <li class="sidebar__nav__list__element"><a href="/reservations/old" class="sidebar__nav__list__element__link">Oude Reserveringen</a></li>
        </ul>
    </div>
</div>